ffmpeg 
Django

asgiref
click
cloup
colorama
decorator
glcontext
isosurfaces
manim
ManimPango
mapbox-earcut
markdown-it-py
mdurl
moderngl
moderngl-window
multipledispatch
networkx
numpy
pillow
pycairo
pydub
pyglet
Pygments
pyrr
rich
scipy
screeninfo
skia-pathops
sqlparse
srt
svgelements
tqdm
typing_extensions
tzdata
watchdog
