{% extends 'base.html' %}

{% block content %}
     
<!-- <script src="https://www.paypal.com/sdk/js?client-id=BAAQMs6zZgo5SKAR9ZnVomHYnnd2mOJ-pUs5APXQ_S06UMdLoqDWn6bSBEcuIo7zQfbU_vwyYbyCWEXC-s&components=hosted-buttons&disable-funding=venmo&currency=USD"></script> -->


<!-- <div class="container">
    <div id="paypal-container-88U7UTTRQDFMQ"></div>
</div>


<script>
  paypal.HostedButtons({
    hostedButtonId: "88U7UTTRQDFMQ",
  }).render("#paypal-container-88U7UTTRQDFMQ")
</script> -->
    
{% endblock %}
