{% extends 'base.html' %}

{% block content %}
  
<style>
  /* To keep the div centered*/
  body {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>


<script src="https://www.paypal.com/sdk/js?client-id=BAA7unw53rFnKJ6iBjnQczhZ8ZUDMJFDOfS4fKoZ_lOf80aXZzjPUiMadXQDA_OIxz7-9tH6vP0QBIK_4Q&components=hosted-buttons&disable-funding=venmo&currency=USD"></script>
<div id="paypal-container-WBV9VNEVN3V3L"></div>
<script>
  paypal.HostedButtons({
    hostedButtonId: "WBV9VNEVN3V3L",
  }).render("#paypal-container-WBV9VNEVN3V3L")
</script>
    
{% endblock %}
