{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudPy Manim</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.jpg">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script>
        function ShowSpinner() {
            var spinner = document.getElementById('spinner');
            spinner.style.display = 'block';
        }
        function HidePlaceholder() {
            var placeholder = document.getElementById('placeholder');
            placeholder.style.display = 'none';
        }
        
    </script>
    <style>
        
    </style>
</head>
<body>
    <h1>CloudPy Manim <i>Beta</i></h1>
    <div class="container">
        <form method="post" class="item" >
            {% csrf_token %}
            <label for="code">Enter Manim code:</label><br>
            <textarea name="code" id="code" rows="20" cols="50">{{ previous_code }}</textarea><br>
            <input type="submit" value="Execute" onclick="ShowSpinner(); HidePlaceholder();">
        </form>

        <div class="item output-item">
            {{ result_message }}

            <!-- if not processed -->
            {% if not result_message %} 
                <div id="spinner" class="spinner"></div>
            {% endif %}

            {% if placeholder %}
                <img src="{% static 'img/placeholder.png' %}" alt="Image" id="placeholder">
                
            {% elif "self.play" in previous_code or "self.wait" in previous_code%}
                
                <video controls>
                    <source src="{{ MEDIA_URL }}{{ class_name }}.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <a href="{{ MEDIA_URL }}{{ class_name }}.mp4" class="download-btn" download>Download</a>

            {% elif "self.add" in previous_code  %}
                <img src="{{ MEDIA_URL }}{{ class_name }}.png" alt="Image">
                <a href="{{ MEDIA_URL }}{{ class_name }}.png" class="download-btn" download>Download</a>


               
            {% else %}
                <p>No output available</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
