{% extends 'base.html' %}
{% load static %}

{% block title %}CloudPy Manim{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script>
        function ShowSpinner() {
            var spinner = document.getElementById('spinner');
            spinner.style.display = 'block';
        }
        function HidePlaceholder() {
            var placeholder = document.getElementById('placeholder');
            placeholder.style.display = 'none';
        }
    </script>
    <style>
        body {
        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    </style>

<style>
    /* Adjustments specific to manim.html */
    nav {
        height: fit-content; /* Ensure the height is not fixed */
    }
    .container {
        margin-top: 80px; /* Ensure the container is properly spaced below the navbar */
    }

    .nav-right {
        padding:2px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="left-input">
            <div class="top-row-buttons">
                <form action="{% url 'save_current_code' %}" method="post" id="save-current-form">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="save_current">
                    <input type="hidden" name="hidden_code_current" id="hidden_code_current">
                    <button type="submit" id="save-btn">Save</button>
                </form>
        
                <button type="button" id="save-new-btn">New Project</button>
        
                <!-- Dropdown to open saved codes -->
                <select id="saved-codes">
                    <option value="" disabled selected>Open</option>
                    {% for code in saved_codes %}
                    <option value="{{ code.id }}">{{ code.name }}</option>
                    {% endfor %}
                </select>
                <p id="noOptionsMessage" style="display: none;">No Projects saved</p>
                <br><br>
                
            </div>
    
            <form method="post" id="code-form" class="item">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="execute">
                <textarea name="code" id="code" rows="20" cols="50" placeholder="Enter Manim code here">{{ previous_code }}</textarea><br>
                <input type="submit" value="Execute" onclick="ShowSpinner(); HidePlaceholder();">
            </form>
        </div>
        
        <!-- Modal for saving code-->
        <div id="save-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form action="{% url 'save_new_code' %}" method="post" id="save-new-form">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="save">
                    <label for="name">Enter a name for the project:</label><br>
                    <input type="text" id="name" name="name"><br>
                    <input type="hidden" name="hidden_code_new" id="hidden_code_new">
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>

        <div class="item output-item">
            {{ result_message }}

            {% if not result_message %}
                <div id="spinner" class="spinner"></div>
            {% endif %}

            {% if placeholder %}
                <img src="{% static 'img/placeholder.png' %}" alt="Image" id="placeholder">
            {% elif "self.play" in previous_code or "self.wait" in previous_code %}
                <video controls>
                    <source src="{{ MEDIA_URL }}{{ class_name }}.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <a href="{{ MEDIA_URL }}{{ class_name }}.mp4" class="download-btn" download>Download</a>
            {% elif "self.add" in previous_code %}
                <img src="{{ MEDIA_URL }}{{ class_name }}.png" alt="Image">
                <a href="{{ MEDIA_URL }}{{ class_name }}.png" class="download-btn" download>Download</a>
            {% else %}
                <p>No output available</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script>
        // Get the modal
        var modal = document.getElementById("save-modal");
    
        // Get the button that opens the modal
        var savenewBtn = document.getElementById("save-new-btn");
    
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        var openDropdown = document.getElementById("saved-codes");   
        var saveBtn = document.getElementById("save-btn");
        var SaveCurrentForm = document.getElementById("save-current-form");

        savenewBtn.onclick = function() {
            if (isAuthenticated){
                modal.style.display = "block";                         
            }
            else{
                alert("You have to Log in to do that");
            }
        }
    
        span.onclick = function() {
            modal.style.display = "none";
        }
    
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    
        document.getElementById("save-new-form").onsubmit = function() {
            var name = document.getElementById("name").value.trim();
            if (name === "") {
                alert("Please enter a name for the code.");
                return false; // Prevent form submission
            }
        }

        document.getElementById('save-new-form').addEventListener('submit', function(event) {
            var visible_code = document.getElementById('code').value;
            var hidden_code= document.getElementById('hidden_code_new');
            hidden_code.value = visible_code;
        });

        openDropdown.onclick = function() {
            if(!isAuthenticated){
                event.preventDefault();
                alert('You will have to Log in to do that');
            }else {
                var options = openDropdown.getElementsByTagName("option");
                if (options.length <= 1) { // Check if only the default option is present
                    noOptionsMessage.style.display = "block";
                } else {
                    noOptionsMessage.style.display = "none";
                }
            }
        }

        openDropdown.onchange = function() {
            var codeId = this.value;
            if (codeId) {
                fetch(`get-code/${codeId}/`)
                .then(response => response.json())
                .then(data => {
                    document.getElementById("code").value = data.code_text;
                    current_code_present = true;
                });
            } else {
                document.getElementById("code").value = '';
            }
        }

        saveBtn.onclick = function(event) {
            if (!isAuthenticated) {
                event.preventDefault();
                alert("You have to log in to do that");
            } else if(!current_code_present){
                event.preventDefault();
                alert('Create new project first');
                console.log(current_code_present);
            } else {
                var visible_code = document.getElementById('code').value;
                var hidden_code= document.getElementById('hidden_code_current');
                hidden_code.value = visible_code;
                console.log(`hidden_code_value: ${hidden_code.value}`);
                SaveCurrentForm.submit();
            }
        }
    </script>
{% endblock %}
 