{% extends 'base.html' %}
{% load static %}

{% block title %}Manim | runwith.cloud{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-button.css' %}">

   <!--CodeMirror for syntax highlighting--> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.8/mode/python/python.min.js"></script>

  <!-- Import themes -->
    <!-- Ecilpse  --><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/theme/eclipse.min.css">
    <!-- Dracula --><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/theme/dracula.min.css">
    <!-- Monokai --><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/monokai.min.css">
    
  

  <!-- auto-complete -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/addon/hint/show-hint.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.7/addon/hint/show-hint.min.js"></script>
    



    <script>
        function ShowSpinner() {
            var spinner = document.getElementById('spinner');
            spinner.style.display = 'block';
        }
        function HidePlaceholder() {
            var placeholder = document.getElementById('placeholder');
            placeholder.style.display = 'none';
        }
    </script>
    
    <link rel="stylesheet" href="{% static 'css/manim.css' %}">
    
{% endblock %}

{% block content %}
    <div class="container">
        <div class="code-section">
            <div class="top-row-buttons">
                <!-- left side -->
                <div>
                    <!-- save button -->
                    <form action="{% url 'save_current_code' %}" method="post" id="save-current-form">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="save_current">
                        <input type="hidden" name="hidden_code_current" id="hidden_code_current">
                        <button type="submit" id="save-btn">Save</button>
                    </form>
                    
                    <!-- New button -->
                    <button type="button" id="save-new-btn">New</button>
                                        
                    <!-- Open Button -->
                    <button id="open-button">Open</button>

                    <!-- Open list -->
                    <div id="open-list" class="dropdown-list" style="display: none;">
                        {% for code in saved_codes %}
                        <div class="dropdown-item" data-id="{{ code.id }}">{{ code.name }}</div>
                        {% endfor %}
                    </div>

                    
                    <!-- Examples button -->
                    <button id="examples-button">Examples</button>

                    <!-- Example list -->
                    <div id="examples-list" class="dropdown-list" style="display: none;">
                        <div class="dropdown-item" data-name="BraceAnnotation">BraceAnnotation</div>
                        <div class="dropdown-item" data-name="BooleanOperations">BooleanOperations</div>
                        <div class="dropdown-item" data-name="PointMovingOnShapes">PointMovingOnShapes</div>
                        <div class="dropdown-item" data-name="MovingAngle">MovingAngle</div>
                        <div class="dropdown-item" data-name="SinAndCosFunctionPlot">SinAndCosFunctionPlot</div>
                    </div>

                    
                </div>

                <!-- right side -->
                <div>
                    <!-- Run button -->
                    <input type="submit" value="Run" onclick="ShowSpinner(); HidePlaceholder();" form="code-form">

                    <!-- Theme toggle button -->
                    <label class="theme-toggle">
                        <input type="checkbox">
                        <span class="slider"></span>
                    </label>
                </div>
                
                
            </div>
            
            <!-- Textarea for code input -->
            <form method="post" id="code-form">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="execute">
                <textarea name="code" id="code" rows="20" cols="50" 
                autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">{{ previous_code }}</textarea>
            </form>
        </div>
        
        <!-- Modal for saving code-->
        <div id="save-modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form action="{% url 'save_new_code' %}" method="post" id="save-new-form">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="save">
                    <label for="name">Enter a name for the project:</label><br>
                    <input type="text" id="name" name="name"><br>
                    <input type="hidden" name="hidden_code_new" id="hidden_code_new">
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>


        <div class="media-section">
            {{ result_message }}

            <div id="spinner" class="spinner"></div>

            {% if placeholder %}
                <img src="{% static 'img/placeholder.png' %}" alt="Image" id="placeholder">
            {% elif "self.play" in previous_code or "self.wait" in previous_code %}
                <video id="result-video" controls >
                    <source src="" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <a id="download-video" href="" class="download-btn" download>Download</a>
                <p id="loading-message-video" style="display: none;" >Generating video...</p>

                <script>
                    const videoUrl = "{{ MEDIA_URL }}{{ media_name }}.mp4";
                    const videoElement = document.getElementById('result-video');
                    const videoSource = videoElement.getElementsByTagName('source')[0];
                    const downloadVideo = document.getElementById('download-video');
                    const loadingMessageVideo = document.getElementById('loading-message-video');
                    const spinner = document.getElementById('spinner');

                    videoElement.style.display = 'none';
                    downloadVideo.style.display = 'none';
                    spinner.style.display = 'block';

                    function checkVideo() {
                        fetch(videoUrl, { method: 'HEAD' })
                            .then(res => {
                                if (res.ok) {
                                    videoSource.src = videoUrl;
                                    videoElement.load();
                                    videoElement.style.display = 'block';
                                    downloadVideo.href = videoUrl;
                                    downloadVideo.style.display = 'block';
                                    loadingMessageVideo.style.display = 'none';
                                    spinner.style.display = 'none';
                                } else {
                                    setTimeout(checkVideo, 2000);
                                }
                            })
                            .catch(() => {
                                setTimeout(checkVideo, 2000);
                            });
                    }

                    checkVideo();
                </script>
            {% elif "self.add" in previous_code %}
                <img id="result-image" src="" alt="Image">
                <a id="download-image" href="" class="download-btn" download>Download</a>
                <p id="loading-message" style="display: none;">Generating image...</p>

                <script>
                    const imageUrl = "{{ MEDIA_URL }}{{ media_name }}.png";
                    const imageElement = document.getElementById('result-image');
                    const loadingMessage = document.getElementById('loading-message');
                    const downloadImage = document.getElementById('download-image');
                    const spinner = document.getElementById('spinner');


                    imageElement.style.display = 'none';
                    downloadImage.style.display = 'none';
                    spinner.style.display = 'block';


                    function checkImage() {
                        fetch(imageUrl, { method: 'HEAD' })
                            .then(res => {
                                if (res.ok) {
                                    imageElement.src = imageUrl;
                                    downloadImage.href = imageUrl;
                                    loadingMessage.style.display = 'none';
                                    imageElement.style.display = 'block';
                                    downloadImage.style.display = 'block';
                                    spinner.style.display = 'none';
                                } else {
                                    setTimeout(checkImage, 2000);
                                }
                            })
                            .catch(() => {
                                setTimeout(checkImage, 2000);
                            });
                    }

                    checkImage();
                </script>
            {% else %}
                <p>No output available</p>
            {% endif %}


            {% if task_id %}
                <div id="statusBox">Starting Up...</div>
                <script>
                    const taskStatusUrlTemplate = "{% url 'task-status' 'TASK_ID_PLACEHOLDER' %}";
                    const taskId = "{{ task_id }}";
                    function pollStatus(id) {
                        const url = taskStatusUrlTemplate.replace('TASK_ID_PLACEHOLDER', id);
                        fetch(url)
                            .then(res => res.json())
                            .then(data => {
                                console.log('data received:', data);
                                const statusBox = document.getElementById('statusBox');
                                // if (data.status === 'initializing') {
                                //     statusBox.textContent = 'Initializing...';
                                // } else 
                                if (data.status === 'queued') {
                                    statusBox.textContent = 'You are Queued...';
                                } else if (data.status === 'processing') {
                                    statusBox.textContent = 'processing...';
                                } else if (data.status === 'done') {
                                    statusBox.textContent = '';
                                    return;
                                } else if (data.status === 'failed') {
                                    statusBox.textContent = '❌ Task failed.';
                                    return;
                                }
                                //  else if (data.status === 'unknown') {
                                //     statusBox.textContent = 'Unknown';
                                //     // return;
                                // }
                                setTimeout(() => pollStatus(id), 2000);
                            })
                            .catch(() => {
                                document.getElementById('statusBox').textContent = 'status unknown';
                                // setTimeout(() => pollStatus(id), 2000);
                            });
                    }
                    pollStatus(taskId);
                </script>
            {% endif %}
        </div>
    </div>


  
{% endblock %}

{% block extra_scripts %}

<!-- {% if previous_code %}
<script>
    const previous_code = `"{{ previous_code }}"`;
</script>
{% endif %} -->
<script src="{% static 'js/manim/exampleGallery.js' %}"></script>
    
<script src="{% static 'js/manim/opencode.js' %}"></script>

<script src="{% static 'js/manim.js' %}"></script>

{% endblock %}
 